tEST

# Importing Libraries and Dataframes

In [37]:
from dataextraction import *

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

There is a big amount of dataframes to check, this loop will help to keep track of these imported variables.

In [3]:
imported_variables = [name for name in dir() if name.endswith('df')] # list of variables that end with "df"

for variable in imported_variables:
    print(variable)

acceso_internet_fijo_por_rangos_velocidad_bajada_provincia_df
acceso_internet_fijo_por_tecnologia_provincia_df
accesos_banda_ancha_banda_angosta_por_provincia_df
accesos_internet_fijo_por_tecnología_localidad_df
accesos_internet_fijo_por_velocidad_bajada_provincia_df
accesos_internet_fijo_por_velocidad_localidad_df
conectividad_al_servicio_de_internet_df
indicadores_macroeconomicos_df
ingresos_por_operación_servicio_internet_fijo_df
listado_localidades_conectividad_internet_df
penetracion_internet_fijo_por_provincia_cada_100_habitantes_df
penetracion_internet_fijo_por_provincia_cada_100_hogares_df
penetracion_nacional_internet_fijo_df
total_nacional_accesos_internet_fijo_por_banda_ancha_banda_angosta_df
total_nacional_accesos_internet_fijo_por_tecnologia_df
total_nacional_accesos_internet_fijo_por_velocidad_bajada_df
velocidad_media_bajada_internet_nacional_df
velocidad_media_bajada_internet_por_provincia_df

# Setting up the data set

## Home Internet Coverage (National and State)

The dataframes `penetracion_internet_fijo_por_provincia_cada_100_habitantes_df` and `penetracion_internet_fijo_por_provincia_cada_100_hogares_df` are exactly the same except for one column, so they can be merged in one table.

In [29]:
# dropping the last column of each df, checking if they have the same data except for that column

penetracion_internet_fijo_por_provincia_cada_100_habitantes_df.drop(columns="Accesos por cada 100 hab") \
.equals(penetracion_internet_fijo_por_provincia_cada_100_hogares_df.drop(columns="Accesos por cada 100 hogares"))

True

In [30]:
penetracion_regional_internet_fijo_df = penetracion_internet_fijo_por_provincia_cada_100_hogares_df \
.merge(penetracion_internet_fijo_por_provincia_cada_100_habitantes_df, how="inner", on=["Año", "Trimestre", "Provincia"])

penetracion_regional_internet_fijo_df.head()

,Año,Trimestre,Provincia,Accesos por cada 100 hogares,Accesos por cada 100 hab
0,2022,3,Buenos Aires,78.11,26
1,2022,3,Capital Federal,122.28,50
2,2022,3,Catamarca,65.33,17
3,2022,3,Chaco,43.86,12
4,2022,3,Chubut,84.38,26

In [31]:
penetracion_regional_internet_fijo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           840 non-null    object
 1   Trimestre                     840 non-null    object
 2   Provincia                     840 non-null    object
 3   Accesos por cada 100 hogares  840 non-null    object
 4   Accesos por cada 100 hab      840 non-null    object
dtypes: object(5)
memory usage: 32.9+ KB

In [32]:
# the last column is redundant because there is already a Trimestre (quarter) column
penetracion_nacional_internet_fijo_df.head()

,Año,Trimestre,Accesos por cada 100 hogares,Accesos por cada 100 hab,Periodo
0,2022,3,76.64,23.95,Jul-Sept 2022
1,2022,2,75.97,23.72,Abr-Jun 2022
2,2022,1,73.88,23.05,Ene-Mar 2022
3,2021,4,73.18,22.81,Oct-Dic 2021
4,2021,3,70.58,21.98,Jul-Sept 2021

In [33]:
penetracion_nacional_internet_fijo_df = penetracion_nacional_internet_fijo_df.drop(columns="Periodo")

In [34]:
penetracion_regional_internet_fijo_df.to_csv('../datasets/penetracion_regional_internet_fijo.csv', index=False)

In [35]:
penetracion_nacional_internet_fijo_df.to_csv('../datasets/penetracion_nacional_internet_fijo.csv', index=False)

## Download Speed (National and state)

In this section, there is the same situation as before. We can merge the data about download speed into a pair of dataframes.

### Mean Download Speed

In [38]:
# the last column need to be dropped, this time we have duplicate names so the new df needs to be a sliced version of this one

velocidad_media_bajada_internet_nacional_df.head()

    Año Trimestre Mbps (Media de bajada)      Trimestre
0  2022         3                  62.46  Jul-Sept 2022
1  2022         2                  58.44   Abr-Jun 2022
2  2022         1                  55.11   Ene-Mar 2022
3  2021         4                  52.34   Oct-Dic 2021
4  2021         3                  48.46  Jul-Sept 2021

In [40]:
velocidad_media_bajada_internet_nacional_df = velocidad_media_bajada_internet_nacional_df.iloc[:, 0:3]

In [41]:
velocidad_media_bajada_internet_nacional_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Año                     35 non-null     object
 1   Trimestre               35 non-null     object
 2   Mbps (Media de bajada)  35 non-null     object
dtypes: object(3)
memory usage: 968.0+ bytes

In [43]:
velocidad_media_bajada_internet_por_provincia_df.head()

    Año Trimestre        Provincia Mbps (Media de bajada)
0  2022         3     Buenos Aires                  70.19
1  2022         3  Capital Federal                 101.05
2  2022         3        Catamarca                  60.99
3  2022         3            Chaco                  53.21
4  2022         3           Chubut                  15.57

In [44]:
velocidad_media_bajada_internet_por_provincia_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Año                     840 non-null    object
 1   Trimestre               840 non-null    object
 2   Provincia               840 non-null    object
 3   Mbps (Media de bajada)  840 non-null    object
 4                           840 non-null    object
 5                           840 non-null    object
dtypes: object(6)
memory usage: 39.5+ KB

### Download Speed by Range

In [ ]:
total_nacional_accesos_internet_fijo_por_velocidad_bajada_df.head()

,Año,Trimestre,Hasta 512 kbps,Entre 512 Kbps y 1 Mbps,Entre 1 Mbps y 6 Mbps,Entre 6 Mbps y 10 Mbps,Entre 10 Mbps y 20 Mbps,Entre 20 Mbps y 30 Mbps,Más de 30 Mbps,OTROS,Total,
0,2022,3,"33,013","96,727","1,161,370","1,151,906","823,505","479,822","6,995,750","349,035","11,091,128",
1,2022,2,"33,667","99,498","1,193,090","1,197,030","856,562","485,321","6,741,922","351,594","10,958,684",
2,2022,1,"34,890","104,840","1,263,273","1,209,148","967,508","509,830","6,336,187","198,333","10,624,009",
3,2021,4,"41,262","28,521","1,413,208","1,245,333","976,539","558,358","6,032,322","194,251","10,489,794",
4,2021,3,"40,174","41,437","2,550,229","1,095,772","710,122","536,364","4,948,174","163,269","10,085,541",

In [45]:
total_nacional_accesos_internet_fijo_por_velocidad_bajada_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Año                      35 non-null     object
 1   Trimestre                35 non-null     object
 2   Hasta 512 kbps           35 non-null     object
 3   Entre 512 Kbps y 1 Mbps  35 non-null     object
 4   Entre 1 Mbps y 6 Mbps    35 non-null     object
 5   Entre 6 Mbps y 10 Mbps   35 non-null     object
 6   Entre 10 Mbps y 20 Mbps  35 non-null     object
 7   Entre 20 Mbps y 30 Mbps  35 non-null     object
 8   Más de 30 Mbps           35 non-null     object
 9   OTROS                    35 non-null     object
 10  Total                    35 non-null     object
 11                           35 non-null     object
dtypes: object(12)
memory usage: 3.4+ KB

In [ ]:
acceso_internet_fijo_por_rangos_velocidad_bajada_provincia_df.head()

,Año,Trimestre,Provincia,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total
0,2022,3,Buenos Aires,"29,985","27,709","290,315","297,915","267,044","124,190","3,618,689","65,821","4,721,668"
1,2022,3,Capital Federal,517,"5,742","34,371","67,829","51,946","28,692","1,253,105","105,477","1,547,679"
2,2022,3,Catamarca,71,384,"3,107","5,389","5,099","3,737","50,298","2,208","70,293"
3,2022,3,Chaco,461,987,"16,782","18,938","8,049","15,828","79,390","3,711","144,146"
4,2022,3,Chubut,109,"1,444","45,707","30,940","34,682","15,309","17,563","20,024","165,778"

In [46]:
acceso_internet_fijo_por_rangos_velocidad_bajada_provincia_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Año                  840 non-null    object
 1   Trimestre            840 non-null    object
 2   Provincia            840 non-null    object
 3   HASTA 512 kbps       840 non-null    object
 4   + 512 Kbps - 1 Mbps  840 non-null    object
 5   + 1 Mbps - 6 Mbps    840 non-null    object
 6   + 6 Mbps - 10 Mbps   840 non-null    object
 7   + 10 Mbps - 20 Mbps  840 non-null    object
 8   + 20 Mbps - 30 Mbps  840 non-null    object
 9   + 30 Mbps            840 non-null    object
 10  OTROS                840 non-null    object
 11  Total                840 non-null    object
dtypes: object(12)
memory usage: 78.9+ KB

### Merging

In [73]:
velocidad_nacional_internet_fijo = total_nacional_accesos_internet_fijo_por_velocidad_bajada_df \
.merge(velocidad_media_bajada_internet_nacional_df, how="left", on=["Año", "Trimestre"])

velocidad_nacional_internet_fijo.head()

,Año,Trimestre,Hasta 512 kbps,Entre 512 Kbps y 1 Mbps,Entre 1 Mbps y 6 Mbps,Entre 6 Mbps y 10 Mbps,Entre 10 Mbps y 20 Mbps,Entre 20 Mbps y 30 Mbps,Más de 30 Mbps,OTROS,Total,,Mbps (Media de bajada)
0,2022,3,"33,013","96,727","1,161,370","1,151,906","823,505","479,822","6,995,750","349,035","11,091,128",,62.46
1,2022,2,"33,667","99,498","1,193,090","1,197,030","856,562","485,321","6,741,922","351,594","10,958,684",,58.44
2,2022,1,"34,890","104,840","1,263,273","1,209,148","967,508","509,830","6,336,187","198,333","10,624,009",,55.11
3,2021,4,"41,262","28,521","1,413,208","1,245,333","976,539","558,358","6,032,322","194,251","10,489,794",,52.34
4,2021,3,"40,174","41,437","2,550,229","1,095,772","710,122","536,364","4,948,174","163,269","10,085,541",,48.46

In [75]:
velocidad_regional_internet_fijo = acceso_internet_fijo_por_rangos_velocidad_bajada_provincia_df \
.merge(velocidad_media_bajada_internet_por_provincia_df, how="left", on=["Año", "Trimestre", "Provincia"])

velocidad_regional_internet_fijo.head()

,Año,Trimestre,Provincia,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total,Mbps (Media de bajada),,
0,2022,3,Buenos Aires,"29,985","27,709","290,315","297,915","267,044","124,190","3,618,689","65,821","4,721,668",70.19,,
1,2022,3,Capital Federal,517,"5,742","34,371","67,829","51,946","28,692","1,253,105","105,477","1,547,679",101.05,,
2,2022,3,Catamarca,71,384,"3,107","5,389","5,099","3,737","50,298","2,208","70,293",60.99,,
3,2022,3,Chaco,461,987,"16,782","18,938","8,049","15,828","79,390","3,711","144,146",53.21,,
4,2022,3,Chubut,109,"1,444","45,707","30,940","34,682","15,309","17,563","20,024","165,778",15.57,,

In [76]:
velocidad_nacional_internet_fijo = velocidad_nacional_internet_fijo.replace(",", "", regex=True) # need regex=True to find commas into the numbers

In [78]:
velocidad_regional_internet_fijo = velocidad_regional_internet_fijo.replace(",", "", regex=True) # need regex=True to find commas into the numbers

In [79]:
velocidad_nacional_internet_fijo.to_csv('../datasets/velocidad_nacional_internet_fijo.csv', index=False)

In [80]:
velocidad_regional_internet_fijo.to_csv('../datasets/velocidad_regional_internet_fijo.csv', index=False)

Now that the speed range is being used, the following dataframe is not needed anymore. Also, in this case, it's more useful analyzing a range of numbers that doing it for specific figures. For example: it's not very helpful to visualize the distinction between 0.5 and 0.512 Mbps.

In [22]:
accesos_internet_fijo_por_velocidad_bajada_provincia_df.head()

,Año,Trimestre,Provincia,Otros,"0,256 Mbps","0,375 Mbps","0,625 Mbps","0,5 Mbps","0,512 Mbps","0,75 Mbps",...,70 Mbps,71 Mbps,75 Mbps,77 Mbps,78 Mbps,80 Mbps,81 Mbps,83 Mbps,82 Mbps,86 Mbps
0,2022,3,Buenos Aires,"65,821",19,- 0,- 0,"29,774",192,"4,611",...,"3,163",- 0,"98,387",- 0,2,223,- 0,1,- 0,- 0
1,2022,3,Capital Federal,"105,477",31,- 0,- 0,451,35,"1,307",...,3,- 0,"30,482",- 0,- 0,8,- 0,- 0,- 0,- 0
2,2022,3,Catamarca,"2,208",- 0,- 0,- 0,34,37,- 0,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
3,2022,3,Chaco,"3,711",- 0,225,111,234,2,- 0,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
4,2022,3,Chubut,"20,024",8,- 0,- 0,69,32,836,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0

## Bandwidth and Technology

In [5]:
total_nacional_accesos_internet_fijo_por_banda_ancha_banda_angosta_df

     Año Trimestre Banda ancha fija Dial up       Total        Periodo
0   2022         3       11,078,691  12,437  11,091,128  Jul-Sept 2022
1   2022         2       10,946,248  12,436  10,958,684   Abr-Jun 2022
2   2022         1       10,611,390  12,619  10,624,009   Ene-Mar 2022
3   2021         4       10,476,933  12,861  10,489,794   Oct-Dic 2021
4   2021         3       10,075,184  10,357  10,085,541  Jul-Sept 2021
5   2021         2        9,852,702  10,382   9,863,084   Abr-Jun 2021
6   2021         1        9,637,956  10,016   9,647,972   Ene-Mar 2021
7   2020         4        9,561,546  10,016   9,571,562   Oct-Dic 2020
8   2020         3        9,346,183  10,016   9,356,199  Jul-Sept 2020
9   2020         2        9,021,040  10,016   9,031,056   Abr-Jun 2020
10  2020         1        8,802,435   9,991   8,812,426   Ene-Mar 2020
11  2019         4        8,783,053  10,128   8,793,181   Oct-Dic 2019
12  2019         3        9,142,891  21,793   9,164,684  Jul-Sept 2019
13  2019         2        8,938,427  21,754   8,960,181   Abr-Jun 2019
14  2019         1        8,626,323  21,812   8,648,135   Ene-Mar 2019
15  2018         4        8,451,841  21,814   8,473,655   Oct-Dic 2018
16  2018         3        8,320,223  26,812   8,347,035  Jul-Sept 2018
17  2018         2        8,083,533  26,911   8,110,444   Abr-Jun 2018
18  2018         1        8,009,981  27,072   8,037,053   Ene-Mar 2018
19  2017         4        7,842,778  27,444   7,870,222   Oct-Dic 2017
20  2017         3        7,696,594  28,349   7,724,943  Jul-Sept 2017
21  2017         2        7,401,134  28,530   7,429,664   Abr-Jun 2017
22  2017         1        7,277,314  28,540   7,305,854   Ene-Mar 2017
23  2016         4        7,223,128  28,545   7,251,673   Oct-Dic 2016
24  2016         3        7,178,340  28,610   7,206,950  Jul-Sept 2016
25  2016         2        7,097,604  32,475   7,130,079   Abr-Jun 2016
26  2016         1        6,874,704  32,652   6,907,356   Ene-Mar 2016
27  2015         4        6,952,289  32,542   6,984,831   Oct-Dic 2015
28  2015         3        6,902,267  32,801   6,935,068  Jul-Sept 2015
29  2015         2        6,783,279  32,909   6,816,188   Abr-Jun 2015
30  2015         1        6,699,714  38,018   6,737,732   Ene-Mar 2015
31  2014         4        6,559,172  39,324   6,598,496   Oct-Dic 2014
32  2014         3        6,559,264  36,007   6,595,271  Jul-Sept 2014
33  2014         2        6,428,329  36,139   6,464,468   Abr-Jun 2014
34  2014         1        6,362,108  36,290   6,398,398   Ene-Mar 2014

In [20]:
total_nacional_accesos_internet_fijo_por_tecnologia_df

,Año,Trimestre,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total,Periodo
0,2022,3,"1,395,277","6,031,970","2,871,541","557,110","235,230","11,091,128",Jul-Sept 2022
1,2022,2,"1,468,333","5,979,214","2,723,285","556,243","231,609","10,958,684",Abr-Jun 2022
2,2022,1,"1,533,240","6,073,426","2,219,533","545,814","251,996","10,624,009",Ene-Mar 2022
3,2021,4,"1,657,615","5,984,240","2,072,236","523,107","252,596","10,489,794",Oct-Dic 2021
4,2021,3,"1,950,631","5,826,257","1,566,048","492,415","250,190","10,085,541",Jul-Sept 2021
5,2021,2,"2,018,587","5,641,731","1,472,246","476,968","253,552","9,863,084",Abr-Jun 2021
6,2021,1,"2,175,211","5,424,782","1,362,976","434,548","250,455","9,647,972",Ene-Mar 2021
7,2020,4,"2,213,949","5,371,824","1,311,199","421,554","253,036","9,571,562",Oct-Dic 2020
8,2020,3,"2,263,889","5,259,351","1,170,879","413,259","248,821","9,356,199",Jul-Sept 2020
9,2020,2,"2,295,533","5,005,115","1,106,725","376,667","247,016","9,031,056",Abr-Jun 2020
10,2020,1,"2,299,457","4,903,674","1,047,817","352,333","209,145","8,812,426",Ene-Mar 2020
11,2019,4,"2,414,575","4,883,869","941,295","340,144","213,298","8,793,181",Oct-Dic 2019
12,2019,3,"2,909,805","4,800,091","852,221","338,241","264,326","9,164,684",Jul-Sept 2019
13,2019,2,"2,990,457","4,635,575","760,794","308,027","265,328","8,960,181",Abr-Jun 2019
14,2019,1,"3,132,789","4,435,439","637,099","276,419","166,389","8,648,135",Ene-Mar 2019
15,2018,4,"3,329,027","4,313,831","388,013","264,299","178,485","8,473,655",Oct-Dic 2018
16,2018,3,"3,521,447","4,238,171","247,366","246,181","93,870","8,347,035",Jul-Sept 2018
17,2018,2,"3,557,216","4,038,141","226,285","194,267","94,535","8,110,444",Abr-Jun 2018
18,2018,1,"3,574,294","3,981,129","217,460","165,300","98,870","8,037,053",Ene-Mar 2018
19,2017,4,"3,584,311","3,818,157","211,425","155,775","100,554","7,870,222",Oct-Dic 2017
20,2017,3,"3,622,575","3,670,221","193,964","106,443","131,740","7,724,943",Jul-Sept 2017
21,2017,2,"3,723,518","3,383,434","180,777","85,813","56,122","7,429,664",Abr-Jun 2017
22,2017,1,"3,708,898","3,276,251","180,146","84,813","55,746","7,305,854",Ene-Mar 2017
23,2016,4,"3,722,794","3,210,602","178,070","85,119","55,088","7,251,673",Oct-Dic 2016
24,2016,3,"3,776,442","3,124,855","169,898","81,455","54,300","7,206,950",Jul-Sept 2016
25,2016,2,"3,782,085","3,035,272","167,788","85,452","59,482","7,130,079",Abr-Jun 2016
26,2016,1,"3,792,493","2,806,359","164,371","85,370","58,763","6,907,356",Ene-Mar 2016
27,2015,4,"3,803,024","2,898,226","139,187","85,726","58,668","6,984,831",Oct-Dic 2015
28,2015,3,"3,788,696","2,840,203","162,663","84,530","58,976","6,935,068",Jul-Sept 2015
29,2015,2,"3,767,821","2,756,294","150,839","82,077","59,157","6,816,188",Abr-Jun 2015
30,2015,1,"3,756,153","2,668,248","168,188","79,098","66,045","6,737,732",Ene-Mar 2015
31,2014,4,"3,764,038","2,536,219","149,682","76,984","71,573","6,598,496",Oct-Dic 2014
32,2014,3,"3,714,764","2,569,868","155,494","85,096","70,049","6,595,271",Jul-Sept 2014
33,2014,2,"3,708,882","2,461,670","149,363","72,405","72,148","6,464,468",Abr-Jun 2014
34,2014,1,"3,697,066","2,407,330","150,323","70,749","72,930","6,398,398",Ene-Mar 2014

In [23]:
acceso_internet_fijo_por_tecnologia_provincia_df

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2022,3,Buenos Aires,"339,648","2,748,325","1,436,433","126,846","70,416","4,721,668"
1,2022,3,Capital Federal,"140,791","1,240,125","129,218","5,758","31,787","1,547,679"
2,2022,3,Catamarca,"10,010","10,495","46,224","1,329","2,235","70,293"
3,2022,3,Chaco,"27,164","61,800","44,645","8,178","2,359","144,146"
4,2022,3,Chubut,"45,377","72,212","9,574","29,784","8,831","165,778"
...,...,...,...,...,...,...,...,...,...
836,2014,1,Santa Fe,"322,662","174,296","3,059","5,951",644,"506,612"
837,2014,1,Santiago Del Estero,"32,567","3,598",19,915,34,"37,133"
838,2014,1,Tierra Del Fuego,"21,618","2,837",648,1,"2,934","28,038"
839,2014,1,Tucumán,"129,717",83,121,13,98,"130,032"
840,*,Los datos provinciales no coinciden a nivel na...,,,,,,,

In [24]:
accesos_banda_ancha_banda_angosta_por_provincia_df

      Año Trimestre            Provincia Banda ancha fija Dial up      Total
0    2022         3         Buenos Aires        4,715,469   6,199  4,721,668
1    2022         3      Capital Federal        1,545,534   2,145  1,547,679
2    2022         3            Catamarca           70,292       1     70,293
3    2022         3                Chaco          144,141       5    144,146
4    2022         3               Chubut          164,874     904    165,778
..    ...       ...                  ...              ...     ...        ...
835  2014         1           Santa Cruz           26,304     460     26,764
836  2014         1             Santa Fe          506,000     612    506,612
837  2014         1  Santiago Del Estero           37,124       9     37,133
838  2014         1     Tierra Del Fuego           27,272     766     28,038
839  2014         1              Tucumán          129,944      88    130,032

[840 rows x 6 columns]

## Economic Datasets

In [47]:
indicadores_macroeconomicos_df.head()

    Año Trimestre  IPC US IPC AR USDARS oficial USDARS blue PBI millones
0  2013         1  232773    298              5           9    2,888,981
1  2013         2  233504    309              5           9    3,387,811
2  2013         3  234149    331              6          10    3,436,547
3  2013         4  233049    351              6          11    3,679,896
4  2014         1  236293    402              8          11    3,917,649

In [48]:
ingresos_por_operación_servicio_internet_fijo_df.head()

    Año Trimestre Ingresos (miles de pesos)        Periodo
0  2022         3                67,055,930  Jul-Sept 2022
1  2022         2                60,335,724   Abr-Jun 2022
2  2022         1                55,589,997   Ene-Mar 2022
3  2021         4                45,467,887   Oct-Dic 2021
4  2021         3                42,999,944  Jul-Sept 2021

In [49]:
datos_economicos = ingresos_por_operación_servicio_internet_fijo_df.drop(columns="Periodo") \
.merge(indicadores_macroeconomicos_df, how="left", on=["Año", "Trimestre"])

datos_economicos

,Año,Trimestre,Ingresos (miles de pesos),IPC US,IPC AR,USDARS oficial,USDARS blue,PBI millones
0,2022,3,"67,055,930",NaN,NaN,NaN,NaN,NaN
1,2022,2,"60,335,724",NaN,NaN,NaN,NaN,NaN
2,2022,1,"55,589,997",NaN,NaN,NaN,NaN,NaN
3,2021,4,"45,467,887",NaN,NaN,NaN,NaN,NaN
4,2021,3,"42,999,944",NaN,NaN,NaN,NaN,NaN
5,2021,2,"38,239,667",NaN,NaN,NaN,NaN,NaN
6,2021,1,"36,676,371",NaN,NaN,NaN,NaN,NaN
7,2020,4,"33,539,703",NaN,NaN,NaN,NaN,NaN
8,2020,3,"31,997,445",NaN,NaN,NaN,NaN,NaN
9,2020,2,"32,102,476",NaN,NaN,NaN,NaN,NaN
10,2020,1,"29,946,216",NaN,NaN,NaN,NaN,NaN
11,2019,4,"24,169,251",NaN,NaN,NaN,NaN,NaN
12,2019,3,"21,652,748",NaN,NaN,NaN,NaN,NaN
13,2019,2,"20,743,118",NaN,NaN,NaN,NaN,NaN
14,2019,1,"20,207,414",NaN,NaN,NaN,NaN,NaN
15,2018,4,"16,637,687",NaN,NaN,NaN,NaN,NaN
16,2018,3,"15,410,981",NaN,NaN,NaN,NaN,NaN
17,2018,2,"14,319,467",251989,1169,24,29,
18,2018,1,"13,171,459",249554,1083,20,24,"11,975,804"
19,2017,4,"11,226,127",246524,1014,18,20,"11,533,613"
20,2017,3,"10,065,998",246819,963,17,18,"10,937,240"
21,2017,2,"9,678,647",244955,925,16,18,"10,595,155"
22,2017,1,"8,701,201",243801,880,16,16,"9,157,377"
23,2016,4,"7,483,980",241432,833,15,16,"8,942,135"
24,2016,3,"6,912,442",241428,791,15,16,"8,448,890"
25,2016,2,"6,534,241",241038,751,14,15,"8,401,125"
26,2016,1,"5,936,845",238132,697,14,15,"6,962,845"
27,2015,4,"5,376,899",236525,621,10,15,"6,552,140"
28,2015,3,"5,153,739",237945,584,9,15,"6,221,731"
29,2015,2,"4,701,791",238638,549,9,15,"5,951,479"
30,2015,1,"4,876,385",236119,518,9,13,"5,092,694"
31,2014,4,"3,950,441",234812,491,9,13,"5,010,564"
32,2014,3,"3,478,638",238031,461,8,14,"4,685,503"
33,2014,2,"3,270,816",238343,433,8,13,"4,702,630"
34,2014,1,"2,984,054",236293,402,8,11,"3,917,649"

There are a lot of null values, because there aren't macroeconomic indicator after 2018.

In [52]:
datos_economicos = datos_economicos.replace(",", "", regex=True) # need regex=True to find commas into the numbers

In [53]:
datos_economicos.to_csv('../datasets/datos_economicos.csv', index=False)

## Data by location

This data set contains information about the whole nation, locations, communities and states. The scope of this project include only national and state data, that means minor territorial divisions will be ignored, they won't be useful in the general analysis of the telecommunication status of the country. Maybe, in the future, a more focused study could use this administrative divisions and get more local insights.

In [20]:
accesos_internet_fijo_por_tecnología_localidad_df.head()

,Provincia,Partido,Localidad,Link Indec,ADSL,CABLEMODEM,DIAL UP,FIBRA OPTICA,OTROS,SATELITAL,WIMAX,WIRELESS,Total general,
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,873,"4,704",- 0,2,- 0,975,- 0,664,"7,218",
1,BUENOS AIRES,25 de Mayo,Del Valle,6854020,181,- 0,- 0,- 0,10,1,- 0,- 0,192,
2,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,- 0,- 0,- 0,- 0,- 0,- 0,- 0,181,181,
3,BUENOS AIRES,25 de Mayo,Norberto de la Riestra,6854060,- 0,782,- 0,6,167,- 0,- 0,327,"1,282",
4,BUENOS AIRES,25 de Mayo,Lucas Monteverde,6854050,- 0,- 0,- 0,- 0,- 0,- 0,- 0,6,6,

In [21]:
accesos_internet_fijo_por_velocidad_localidad_df.head()

,Provincia,Partido,Localidad,Link Indec,Otros,"0,256 mbps","0,375 mbps","0,5 mbps","0,512 mbps","0,625 mbps",...,75 mbps,78 mbps,80 mbps,82 mbps,83 mbps,85 mbps,90 mbps,92 mbps,95 mbps,100 mbps
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,,,,2,,,...,,,9,,,,,,,
1,BUENOS AIRES,25 de Mayo,Agustín Mosconi,6854010,,,,,,,...,,,,,,,,,,
2,BUENOS AIRES,25 de Mayo,Del Valle,6854020,,,,1,,,...,,,,,,,,,,
3,BUENOS AIRES,25 de Mayo,Ernestina,6854030,,,,,,,...,,,,,,,,,,
4,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,,,,,,,...,,,,,,,,,,

## Connectivity

The dataframes that involve connectivity by location have a some issues like unnamed columns and a lot of blank spaces and null values, so they aren't going to be used because will not add value to the analysis.

In [10]:
listado_localidades_conectividad_internet_df.head()

,,Partido,Localidad,ADSL,,DIALUP,FIBRAOPTICA,4G,,TELEFONIAFIJA,,SATELITAL
0,,Bahía Blanca,Villa Bordeau,,,--,--,,,--,,--
1,BUENOS AIRES,,Villa Espora,--,--,,--,--,--,,--,
2,BUENOS AIRES,,,SI,SI,,,SI,SI,,SI,
3,BUENOS AIRES,Balcarce,,--,--,--,,--,--,SI,SI,--
4,BUENOS AIRES,,Napaleofú,--,--,,SI,SI,SI,,,--

In [12]:
listado_localidades_conectividad_internet_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4312 entries, 0 to 4311
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0                  4312 non-null   object
 1   Partido        4312 non-null   object
 2   Localidad      4312 non-null   object
 3   ADSL           4312 non-null   object
 4                  4312 non-null   object
 5   DIALUP         4312 non-null   object
 6   FIBRAOPTICA    4312 non-null   object
 7   4G             4312 non-null   object
 8                  4312 non-null   object
 9   TELEFONIAFIJA  4312 non-null   object
 10                 4312 non-null   object
 11  SATELITAL      4312 non-null   object
dtypes: object(12)
memory usage: 404.4+ KB

In [13]:
conectividad_al_servicio_de_internet_df.head()

,,Partido,Localidad,,,CABLEMODEM,DIALUP,,,WIRELESS,TELEFONIAFIJA,,,link,Latitud,
0,,Bahía Blanca,Villa Bordeau,0,,--,--,--,,--,--,,SI,6056020,"-38,6472605094596",
1,BUENOS AIRES,,,0,--,,,--,--,,,--,--,,"-38,7765069529222","-62,1851833537179"
2,BUENOS AIRES,,Balcarce,38376,SI,,SI,SI,--,,,SI,SI,6063010,,"-58,2551665841248"
3,BUENOS AIRES,,,337,--,,,--,--,,SI,,--,6063020,"-37,9412057603",
4,BUENOS AIRES,Balcarce,,374,--,--,,SI,--,SI,SI,SI,,6063030,"-37,6254980210026","-58,7461862359423"

In [14]:
conectividad_al_servicio_de_internet_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4312 entries, 0 to 4311
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0                  4312 non-null   object
 1   Partido        4312 non-null   object
 2   Localidad      4312 non-null   object
 3                  4312 non-null   object
 4                  4312 non-null   object
 5   CABLEMODEM     4312 non-null   object
 6   DIALUP         4312 non-null   object
 7                  4312 non-null   object
 8                  4312 non-null   object
 9   WIRELESS       4312 non-null   object
 10  TELEFONIAFIJA  4312 non-null   object
 11                 4312 non-null   object
 12                 4312 non-null   object
 13  link           4312 non-null   object
 14  Latitud        4312 non-null   object
 15                 4312 non-null   object
dtypes: object(16)
memory usage: 539.1+ KB